.footer
  background: $blue
  .container-big
    padding-top: 90px
    padding-bottom: 80px
    +r(767)
      padding-top: 40px
      padding-bottom: 100px
  &_wrap
    +r(767)
      display: block
  &_logo
    display: block
    max-width: 240px
    width: 100%
    margin-right: 32px
    margin-top: -10px
    +b(800)
      max-width: 200px
    +r(1023)
      max-width: 100px
    +r(767)
      max-width: 160px
      margin: 0 auto 36px
    img, svg
      display: block
      max-width: 100%
      height: auto
  &_links
    width: 35%
    margin-left: auto
    margin-right: 32px
    +r(1023)
      width: 50%
    +r(767)
      width: 100%
      text-align: center
      margin-bottom: 24px
    ul
      columns: 2
      column-gap: 40px
      +r(767)
        columns: 1
        column-gap: 0
      li
        color: #fff
        transition: all 0.2s ease-in-out
        font-size: 21px
        letter-spacing: 0.02em
        font-weight: 600
        margin-bottom: 23px
        +r(1199)
          font-size: 18px
        +r(1023)
          font-size: 16px
        +r(767)
          font-size: 24px
          margin-bottom: 17px
        &:last-child
          margin-bottom: 0
        &.current-menu-item
          color: $aqua
        &:hover
          color: $aqua
        a
          color: inherit
          text-decoration: none
  &_soc
    width: 30%
    +r(767)
      width: 100%
      text-align: center
    &-title
      h2
        color: #fff
        margin-bottom: 20px
        +b(800)
          font-size: 36px
        +r(1023)
          font-size: 24px
          margin-bottom: 12px
        +r(767)
          font-size: 36px
    &-wrap
      margin-bottom: 30px
      +r(767)
        margin-bottom: 28px
      a
        text-decoration: none
        transition: all 0.2s ease-in-out
        color: #fff
        font-size: 21px
        letter-spacing: 0.02em
        display: block
        margin-bottom: 17px
        font-weight: 400
        +r(1023)
          font-size: 18px
        +r(767)
          font-size: 21px
        &:last-child
          margin-bottom: 0
        &:hover
          color: $aqua
    &-items
      justify-content: flex-start
      align-items: center
      +r(767)
        justify-content: center
    &-item
      display: block
      margin-right: 38px
      &:last-child
        margin-right: 0
      img, svg
        display: block
        max-width: 100%
        height: auto
        path
          fill: #fff
          transition: all 0.2s ease-in-out
      &:hover
        path
          fill: $aqua
  &_top
    display: block
    width: 71px
    height: 50px
    bottom: 0px
    right: 24px
    cursor: pointer
    position: absolute
    transition: all 0.3s ease-in-out
    +r(767)
      right: 16px
    &:hover
      transform: scale(1.05)
    img, svg
      display: block
      max-width: 100%
      max-height: 100%
      margin-top: auto
.contacts
  &_line
    background: $blue
    max-width: 1495px
    width: 100%
    margin: 0 auto
    padding: 0 24px
    +r(767)
      padding: 0 16px
    &-item
      max-width: 100%
      width: 100%
      display: block
      background: #fff
      height: 1px
