*
  box-sizing: border-box
p
  margin: 0
.container
  max-width: 1460px
  width: 95%
  margin: 0 auto
header
  background: url("../images/header-bg.png") no-repeat 100% 100% / cover
  .top-line
    display: flex
    justify-content: space-between
    align-items: center
  nav
    display: block
    ul
      margin: 0
      padding: 0
      list-style: none
      display: flex
      li
        a
          color: #fff
          text-decoration: none
  .phrase
    color: $gray
