.banner_text{
    &_job-title{
        text-align: center;
        margin-top: 70px;
        a{
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #00D7A1;
            text-decoration: none;
            margin-bottom: 85px;
            display: inline-block;
        }
    }
}
.reset-margin{
    margin-top: 0px;
}
.typography_button{
    padding: 50px 0 20px 0;
}
.article_wrapper {
  padding-top: 70px;
  @media all and (max-width: 767px) {
    padding-top: 40px;
  }
}
