@font-face
  font-family: 'Proxima Nova Rg'
  src: url('../fonts/proximanova-regular.ttf')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Proxima Nova LT'
  src: url('../fonts/proximanova-light.ttf')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Proxima Nova Bold'
  src: url('../fonts/proximanova-bold.ttf')
  font-weight: 700

@font-face
  font-family: 'Proxima Nova SemiBold'
  src: url('../fonts/proximanova-semibold.ttf')
  font-weight: 600
